<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Sign In / Sign Up</title>
    <link rel="stylesheet" href="{% static 'general_Login_CSS.css' %}" />

</head>

<body>


    <div class="container" id="container">
        <div class="form-container sign-in">
            <form method="POST" action="/forgot_password_verification/">
                {% csrf_token %}
                <h1>Forgot Password <i class="fas fa-key"></i></h1>
                <br>
                <span align="center">
                    <b>
                        Forgot your password <i class="fas fa-question"></i><br>
                        No worries! We've got you covered <i class="fa-regular fa-face-smile"></i><br>
                        Enter your email to change your password <i class="fas fa-envelope"></i>
                    </b>
                </span>
                <br>
                <input id="fp_email" name="fp_email" type="email" placeholder="Email">
                {% for data in messages %}
                    <b><span style="color:red"> {{data}} </span></b>
                {% endfor %}
                <br>
                <button>Change Password</button>
            </form>
        </div>
    </div>


    <script src="{% static 'general_Login_JavaScript.js' %}"></script>
</body>

</html>